.app__bg-chef{
    background-image: url('../../assets/backgroundleaf.png');
    background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}
.headtext__cormorant-chef {
    font-family: var(--font-base);
    color: rgb(152, 145, 83);
    font-size: 64px;
    line-height: 83.2px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
  }
.app__chef-content{
    display:flex;
    flex-direction: column;
    width:100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    
    text-align: justify;
    padding-right: 50px;
   
}
.app__chef-content_quote{
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.app__chef-content_quote img{
    width:47px;
    height:40px;
    margin:0 1rem 1rem 0;
}
.app__chef-sign{
    width: 100%;
    margin-top: 3 rem;
}
.app__chef-sign p:first-child{
    
    font-size: 32;
    line-height: 41px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: rgb(152, 145, 83);
}
.app__chef-sign img{
    width:400px;
    
}
@media screen and (min-width: 2000px) {
.headtext__cormorant-chef {
    font-size: 150px;
    line-height: 210px;
  }
}
@media screen and (max-width:1150px) {
    .app__chef-sign img{
        width:370px;

    }
    .app__chef-content{
        padding-left: 15px;
    }
    
}
@media screen and (max-width:450px) {
    .app__chef-sign img{
        width:80%;

    }
    
}